html.dark {
	--bg-color: #444444;
	--text-color: #ffffff;
	--border-color: #ffffff;
	--ctrl-bg: #555555;
	--th-bg: #333333;
	--link-color: #ff4d4d;
	--link-color-visited: #ff9999;
}

html.dark a {
	color: var(--link-color);
}

html.dark a:visited {
	color: var(--link-color-visited);
}

@media screen and (min-width: 600px) {
	html.dark header {
		box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 20px 5px;
	}
}